<p id="notice"><%= notice %></p>

<h1>My stores</h1>

<table>
  <tbody>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

